@font-face {
      font-family: 'limit-parameter';
      src: url('../webfonts/LimitParameterGX.ttf') format('truetype');
    }

@font-face {
      font-family: 'limit-normal';
      src: url('../webfonts/LimitNormalGX.ttf') format('truetype');
}


    @font-face {
      font-family: 'limit-slab';
      src: url('../webfonts/LimitSlabGX.ttf') format('truetype');
    }
	@font-face {
      font-family: 'limit-140';
      src: url('../webfonts/LimitNormal-140.woff') format('woff');
    }
	@font-face {
      font-family: 'limit-100';
      src: url('../webfonts/LimitNormal-100.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-80';
      src: url('../webfonts/LimitNormal-80.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-56';
      src: url('../webfonts/LimitNormal-56.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-32';
      src: url('../webfonts/LimitNormal-32.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-18';
      src: url('../webfonts/LimitNormal-18.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-10';
      src: url('../webfonts/LimitNormal-10.woff') format('woff');
    }

      @font-face {
      font-family: 'limit-inline';
      src: url('../webfonts/LimitInline-Regular.woff') format('woff');
    }