@font-face {
      font-family: 'limit-parameter';
      src: url('../webfonts/LimitParameterGX.ttf') format('truetype');
}

@font-face {
      font-family: 'limit-normal';
      src: url('../webfonts/LimitNormalGX.ttf') format('truetype');
}

@font-face {
      font-family: 'limit-inline';
      src: url('../webfonts/LimitInline-Regular.woff') format('woff');
}

@font-face {
      font-family: 'limit-slab';
      src: url('../webfonts/LimitSlabGX.ttf') format('truetype');
}

@font-face {
      font-family: 'limit-screen';
      src: url('../webfonts/LimitScreenGX.ttf') format('truetype');
}

  /* / / / / / / / */
  /* Limit Normal  */
  /* / / / / / / / */
	@font-face {
      font-family: 'limit-100';
      src: url('../webfonts/LimitNormal-100.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-80';
      src: url('../webfonts/LimitNormal-80.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-56';
      src: url('../webfonts/LimitNormal-56.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-32';
      src: url('../webfonts/LimitNormal-32.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-18';
      src: url('../webfonts/LimitNormal-18.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-10';
      src: url('../webfonts/LimitNormal-10.woff') format('woff');
    }
  /* / / / / / / */
  /* Limit Slab  */
  /* / / / / / / */
  @font-face {
      font-family: 'limit-slab-100';
      src: url('../webfonts/LimitSlab-100.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-slab-80';
      src: url('../webfonts/LimitSlab-80.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-slab-56';
      src: url('../webfonts/LimitSlab-56.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-slab-32';
      src: url('../webfonts/LimitSlab-32.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-slab-18';
      src: url('../webfonts/LimitSlab-18.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-slab-10';
      src: url('../webfonts/LimitSlab-10.woff') format('woff');
    }
 /* / / / / / / */
  /* Limit Screen  */
  /* / / / / / / */
  @font-face {
      font-family: 'limit-screen-100';
      src: url('../webfonts/LimitScreen-100.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-screen-80';
      src: url('../webfonts/LimitScreen-80.woff') format('woff');
    }
    @font-face {
      font-family: 'limit-screen-56';
      src: url('../webfonts/LimitScreen-56.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-screen-32';
      src: url('../webfonts/LimitScreen-32.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-screen-18';
      src: url('../webfonts/LimitScreen-18.woff') format('woff');
    }
     @font-face {
      font-family: 'limit-screen-10';
      src: url('../webfonts/LimitScreen-10.woff') format('woff');
    }
